
	[data-melt-tooltip-content].svelte-23mhte {
		border: 0;

		position: absolute;
		pointer-events: none;
		opacity: 0;

		transform: scale(0.9);

		transition: 0.3s;
		transition-property: opacity, transform;
	}

	[data-melt-tooltip-content][data-open].svelte-23mhte {
		pointer-events: auto;
		opacity: 1;

		transform: scale(1);
	}
