
  .clickable.svelte-1g2swee {
    --at-apply: 'cursor-pointer';
  }
  .clickable.svelte-1g2swee:hover {
    --at-apply: 'b-black/10 dark:b-white/16 shadow-lg shadow-black/5 dark:shadow-black/40';
    transform: translateY(-2px);
  }
  .feature-title.svelte-1g2swee {
    --at-apply: 'font-600 mt-4';
  }
  .feature-desc.svelte-1g2swee {
    --at-apply: 'text-zinc-6 dark:text-zinc-4 mt-2 text-[14px] leading-6';
  }
  .feature-item.svelte-1g2swee {
    --at-apply: 'bg-white dark:bg-[#202023] p-5 rounded-xl b-1 b-solid b-black/6 dark:b-white/8 transition-all transition-200';
  }
  .icon.svelte-1g2swee {
    --at-apply: 'text-9 inline-flex items-center p-1.5 bg-black/5 dark:bg-white/8 rounded-lg';
  }
