
	.demo.svelte-1vma4tt .vcenter {
		display: flex;
		align-items: center;
	}
	.demo.svelte-1vma4tt .wx-cell.wx-filter .wx-multiselect .wx-label {
		display: flex;
		align-items: center;
		padding: 1px 8px;
	}
