
  .link.svelte-1cg92pd {
    color: red;
  }

  .bold.svelte-1cg92pd {
    color: red;
  }

  .link.svelte-1cg92pd:active {
    color: red;
  }

  .link.svelte-1cg92pd + .bold:where(.svelte-1cg92pd) {
    color: red;
  }

  /* (unused) .bold[data-key="val"] {
    color: red;
  }*/

  .bold.svelte-1cg92pd::before {
    color: red;
  }

  .conditional.svelte-1cg92pd {
    color: red;
  }

  .iterated-each.svelte-1cg92pd {
    color: red;
  }

  .iterated-component.svelte-1cg92pd {
    color: red;
  }
