
	.tick.svelte-ezpwyj {
		font-size: 11px;
	}

	line.svelte-ezpwyj,
	.tick.svelte-ezpwyj line:where(.svelte-ezpwyj) {
		stroke: #aaa;
		stroke-dasharray: 2;
	}

	.tick.svelte-ezpwyj text:where(.svelte-ezpwyj) {
		fill: #666;
	}

	.tick.svelte-ezpwyj .tick-mark:where(.svelte-ezpwyj),
	.baseline.svelte-ezpwyj {
		stroke-dasharray: 0;
	}
	/* This looks slightly better */
	.axis.snapLabels.svelte-ezpwyj .tick:where(.svelte-ezpwyj):last-child text:where(.svelte-ezpwyj) {
		transform: translateX(3px);
	}
	.axis.snapLabels.svelte-ezpwyj .tick.tick-0:where(.svelte-ezpwyj) text:where(.svelte-ezpwyj) {
		transform: translateX(-3px);
	}
