
  .switch.svelte-43el62 {
    display: block;
    color: #444;
    margin: 5px 0;
    background-color: rgba(238, 238, 238, 0.7);
    padding: 5px 10px;
    border-radius: 10px;
  }

  .switch.svelte-43el62 label:where(.svelte-43el62) {
    margin-right: 5px;
    line-height: 14px;
    width: 100px;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
  }

  .switch.svelte-43el62 button:where(.svelte-43el62) {
    background-color: rgb(206, 208, 212);
    height: 24px;
    box-sizing: border-box;
    border-radius: 12px;
    width: 44px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.1s;
    border: 2px solid transparent;
  }

  .switch.svelte-43el62 button:where(.svelte-43el62):focus-visible {
    border-color: blue;
  }

  .switch.svelte-43el62 button:where(.svelte-43el62) span:where(.svelte-43el62) {
    top: 0px;
    left: 0px;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    background-color: white;
    transition: transform 0.2s;
  }

  .switch.svelte-43el62 button[aria-checked='true']:where(.svelte-43el62) {
    background-color: rgb(24, 119, 242);
  }

  .switch.svelte-43el62 button[aria-checked='true']:where(.svelte-43el62) span:where(.svelte-43el62) {
    transform: translateX(20px);
  }
