
  .link.svelte-1mhiyzt {
    color: red;
  }

  .bold.svelte-1mhiyzt {
    color: red;
  }

  .link.svelte-1mhiyzt:active {
    color: red;
  }

  /* (unused) .link + .bold {
    color: red;
  }*/

  /* (unused) .bold[data-key="val"] {
    color: red;
  }*/

  .bold.svelte-1mhiyzt::before {
    color: red;
  }

  .conditional.svelte-1mhiyzt {
    color: red;
  }

  .conditional-two.svelte-1mhiyzt {
    color: red;
  }
