
  .bottom-app-bar-container.svelte-1j1goll {
    max-width: 480px;
    width: 100%;
    height: 320px;
    border: 1px solid
      var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.1));
    margin: 0 18px 18px 0;
    background-color: var(--mdc-theme-background, #fff);

    overflow: auto;
    display: inline-block;
  }

  @media (max-width: 480px) {
    .bottom-app-bar-container.svelte-1j1goll {
      margin-right: 0;
    }
  }

  .flexy.svelte-1j1goll {
    display: flex;
    flex-wrap: wrap;
  }

  .flexor.svelte-1j1goll {
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
  }

  .flexor-content.svelte-1j1goll {
    flex-basis: 0;
    height: 0;
    flex-grow: 1;
    overflow: auto;
  }
