
	/* .feature-path {
		stroke: #333;
		stroke-width: 0.5px;
	} */
	.feature-path.svelte-ibsccr:hover {
		stroke: #000;
		stroke-width: 2px;
	}
	/**
	 * Disable the outline on feature click.
	 * Depending on map functionality and accessiblity issues,
	 * you may not want this rule. Read more:
	 * https://developer.mozilla.org/en-US/docs/Web/CSS/:focus
	 * https://github.com/mhkeller/layercake/issues/63
	 */
	.feature-path.svelte-ibsccr:focus {
		outline: none;
	}
