
	h1.svelte-1baasea,
	p.svelte-1baasea {
		margin: 0 auto;
	}

	h1.svelte-1baasea {
		font-size: 2.8em;
		font-weight: 700;
		margin: 0 0 0.5em 0;
		color: red;
	}

	p.svelte-1baasea {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1.svelte-1baasea {
			font-size: 4em;
		}
	}
