
	[data-melt-popover-content].svelte-1okmgpl {
		position: absolute;
		pointer-events: none;
		opacity: 0;

		transform: scale(0.9);

		transition: 0.3s;
		transition-property: opacity, transform;
	}

	[data-melt-popover-content][data-open].svelte-1okmgpl {
		pointer-events: auto;
		opacity: 1;

		transform: scale(1);
	}
