
	.data.svelte-1mtuc6h {
		padding: 10px;
		white-space: nowrap;
	}

	.line.svelte-1mtuc6h {
		padding-top: 4px;
	}

	.line.stars.svelte-1mtuc6h {
		display: flex;
		padding-top: 8px;
	}

	.wxi-cat.svelte-1mtuc6h {
		font-size: 20px;
	}

	.wxi-cat.filled.svelte-1mtuc6h {
		color: gold;
	}
