
	.theme-wrapper {
		--bg-root: var(--bg);
		--fg-root: var(--fg);
		min-height: 100vh;
		border-top: var(--border);
		border-color: var(--primary);
	}

	.page-layout.svelte-1br2sqw {
		margin: 0 auto;
	}

	.skip-to-main-content.svelte-1br2sqw {
		position: absolute;
		top: -1000px;
		left: -1000px;
		z-index: 1000;
		background-color: var(--primary);
		color: var(--bg);
		padding: 0.5rem;
		&:focus {
			top: 0;
			left: 0;
		}
	}

	@media (min-width: 1280px) {
		.page-layout.svelte-1br2sqw {
			grid-auto-flow: column;
			grid-template-rows: 1fr;
		}
	}
