
	.demo.svelte-zwyq79 {
		--wx-table-header-cell-border: var(--wx-table-cell-border);
		--wx-table-footer-cell-border: var(--wx-table-cell-border);
	}

	.demo.svelte-zwyq79 .wx-footer {
		border-bottom: none;
	}
