
	.div-class.svelte-uu1fa6 {
		color: red;
	}

	.div-class-two.svelte-uu1fa6 {
		color: blue;
	}

	.span-class.svelte-uu1fa6 {
		font-weight: bold;
	}

	.span-class-two.svelte-uu1fa6 {
		font-weight: normal;
	}
