
	/** copied from CodeBlock.svelte */
	@custom-selector :--fullscreen :has(.codeblock-fullscreen:checked);
	@custom-selector :--g-fullscreen
		:global(.codeblock-group:has(.codeblock-group-fullscreen:checked));
	@custom-selector :--g-fullscreen-focus
		:global(.codeblock-group:has(.codeblock-group-fullscreen:focus-visible));

	.minimize.svelte-qk5f0o {
		display: none;
	}

	/* (unused) :--g-fullscreen-focus label {
		outline: 2px solid var(--color-outline-focus);
		outline-offset: -2px;
	}*/

	.svelte-qk5f0o:--g-fullscreen,
	label.svelte-qk5f0o:has(.codeblock-fullscreen:checked) {
		& .maximize:where(.svelte-qk5f0o) {
			display: none;
		}

		& .minimize:where(.svelte-qk5f0o) {
			display: block;
		}
	}
