
	/* (unused) #\31 23 {
		color: green;
	}*/

	/* (unused) #\31 23 {
		color: green;
	}*/

	/* (unused) #line\a break {
		color: green;
	}*/

	/* (unused) #line\a break {
		color: green;
	}*/

	/* (unused) li\.foo {
		color: green;
	}*/

	/* (unused) .a🙂b {
		color: green;
	}*/

	/* (unused) .a🙂b {
		color: green;
	}*/

	/* (unused) #\2d 1foo {
		color: red;
	}*/

	/* (unused) .a\\b {
		color: red;
	}*/

	/* (unused) .a\\b {
		color: red;
	}*/

	/* (unused) .a\\q {
		color: red;
	}*/

	/* (unused) .a\\q {
		color: red;
	}*/

	/* (unused) .a\\ {
		color: red;
	}*/

	/* (unused) .a\\ {
		color: red;
	}*/

	/* (unused) #\\a {
		color: red;
	}*/

	/* (unused) [\31 data] {
		color: red;
	}*/

	.svelte-qfylai:\31 st-child {
		color: red;
	}

	.svelte-qfylai {
		color: red;
	}

	/* (unused) #id-selector {
		color: red;
	}*/

	/* (unused) [data-attribute="value"] {
		color: red;
	}*/
