
  .pwa-title.svelte-c4cnpn {
    --at-apply: 'font-700 text-svp-primary mb-2';
  }
  .pwa-toast.svelte-c4cnpn {
    --at-apply: 'fixed w-[50vw] max-w-320px left-[50%] translate-x-[-50%] shadow-lg dark:shadow-gray-6 bottom-0 m-4 p-3 b-1 b-gray-8 rounded-lg z-1002 bg-white dark:bg-black';
  }
  .pwa-toast.svelte-c4cnpn .message:where(.svelte-c4cnpn) {
    --at-apply: 'mb-3';
  }
  .actions.svelte-c4cnpn {
    --at-apply: 'flex justify-end mt-8';
  }
