
	.wx-header.svelte-b4gut6,
	.wx-footer.svelte-b4gut6 {
		font-weight: 500;
	}

	.wx-header.svelte-b4gut6 {
		top: 0;
		border-bottom: var(--wx-table-header-border);
	}

	.wx-footer.svelte-b4gut6 {
		position: sticky;
		z-index: 2;
		bottom: 0;
		border-top: var(--wx-table-header-border);
	}
