
	.example.svelte-14xmduv {
		accent-color: orangered;

		height: 400px;
		margin-bottom: var(--spacing-32);
		background: var(--clr-code-bg);
		border-radius: var(--rounded-20);
		text-align: center;
		box-shadow: var(--shadow-md);
		overflow: hidden auto;

		.content:where(.svelte-14xmduv) {
			height: 100%;
		}

		/* :global {*/
			.container {
				height: 100%;
				display: grid;
				place-content: center;
				padding: var(--spacing-24);
			}

			button {
				padding: var(--spacing-16);
				border: 4px solid var(--clr-primary);
				border-radius: var(--rounded-20);
				text-transform: capitalize;
				transition: scale 0.15s ease-out;

				&:active {
					scale: 0.9;
				}
			}
		/*}*/
	}
