
	.used1.svelte-18a10p { color: green; }
	.used2.svelte-18a10p { color: green; }
	.used3.svelte-18a10p { color: green; }
	.used4.svelte-18a10p { color: green; }
	.used5.svelte-18a10p { color: green; }
	.used6.svelte-18a10p { color: green; }
	.used7.svelte-18a10p { color: green; }
	.used8.svelte-18a10p { color: green; }
	.used9.svelte-18a10p { color: green; }

	/* (unused) .unused { color: red; }*/
