
  .editor-dev-button.svelte-ob2upx {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #444;
  }

  .editor-dev-button.svelte-ob2upx::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    display: block;
    background-size: contain;
    filter: invert(1);
  }

  .editor-dev-button.svelte-ob2upx:hover {
    background-color: #555;
  }

  .editor-dev-button.active.svelte-ob2upx {
    background-color: rgb(233, 35, 35);
  }

  #options-button.svelte-ob2upx {
    position: fixed;
    left: 20px;
    bottom: 20px;
  }

  #options-button.svelte-ob2upx::after {
    background-image: url(../images/icons/gear.svg);
  }

  .switches.svelte-ob2upx {
    z-index: 6;
    position: fixed;
    left: 10px;
    bottom: 70px;
    animation: svelte-ob2upx-slide-in 0.4s ease;
  }

  @keyframes svelte-ob2upx-slide-in {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
