
	h1.svelte-1d2597w {
		font-weight: 500;
	}

	.item.svelte-1d2597w {
		border-bottom: 1em solid rgba(0, 0, 0, 0.1);
		margin: 0 -2em 2em -2em;
		padding: 0 2em 2em 2em;
	}

	html.dark .item.svelte-1d2597w {
		border-bottom: 1em solid rgba(255, 255, 255, 0.1);
	}

	.main-link.svelte-1d2597w {
		display: block;
		text-decoration: none;
	}

	small.svelte-1d2597w {
		display: block;
		font-size: 14px;
	}

	.meta.svelte-1d2597w {
		font-size: 0.8em;
		font-weight: 300;
		color: var(--fg-light);
	}

	.comments.svelte-1d2597w > .comment:first-child {
		border-top: none;
	}
