
  .svelte-ydxhs5 .my-button {
    margin: 0.5em;
  }

  .svelte-ydxhs5 .red {
    color: red;
  }
  .svelte-ydxhs5 .blue {
    color: blue;
  }
  .svelte-ydxhs5 .green {
    color: green;
  }

  .svelte-ydxhs5 .big {
    font-size: 1.5em;
  }
