
	.error.svelte-1j96wlh {
		height: 100%;
		display: grid;
		place-content: center;

		h1:where(.svelte-1j96wlh) {
			margin-top: var(--spacing-64);
			font-family: var(--font-sans);
			font-size: var(--font-32);
			text-align: center;
			text-transform: none;
		}
	}
