
	@keyframes svelte-b3j21w-a {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(2);
		}
	}

	@keyframes svelte-b3j21w-animation {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(2);
		}
	}

	h1.svelte-b3j21w {
		animation: 1s linear infinite svelte-b3j21w-a;
		animation: svelte-b3j21w-a 1s linear infinite;
		animation: 1s linear infinite svelte-b3j21w-a,svelte-b3j21w-animation 1s linear infinite;
	}
