
  main.svelte-rlb485 {
    text-align: center;
    padding: 1em;
    max-width: none;
    margin: 0 auto;
  }

  img.svelte-rlb485 {
    margin: 2em;
    max-width: 800px;
  }

  .example-intro.svelte-rlb485 {
    max-width: 1100px;
    margin: 70px auto 10px auto;
  }
