
  .edit-link.svelte-1mhyhlv {
    --at-apply: 'flex items-center text-svp-primary-deep dark:text-svp-primary hover:text-svp-hover cursor-pointer';
  }
  .edit-icon.svelte-1mhyhlv {
    --at-apply: 'text-5 flex items-center';
  }
  .edit-text.svelte-1mhyhlv {
    --at-apply: 'ml-1';
  }
