
  #link.svelte-1r829jy {
    color: red;
  }

  #bold.svelte-1r829jy {
    color: red;
  }

  #link.svelte-1r829jy:active {
    color: red;
  }

  /* (unused) #link + #bold {
    color: red;
  }*/

  /* (unused) #bold[data-key="val"] {
    color: red;
  }*/

  #bold.svelte-1r829jy::before {
    color: red;
  }
