
	.wx-radiogroup.svelte-l13ghu {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: calc(var(--wx-field-gutter) * -1);
	}
	.wx-item.svelte-l13ghu {
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: var(--wx-field-gutter);
	}

	.wx-radiogroup.wx-inline.svelte-l13ghu .wx-item:where(.svelte-l13ghu) {
		flex: none;
		padding-right: var(--wx-field-gutter);
	}

	.wx-radiogroup.wx-grid.svelte-l13ghu .wx-item:where(.svelte-l13ghu) {
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: var(--wx-field-gutter);
	}
