
  .link {
    color: red;
  }

  .bold {
    color: red;
  }

  .link:active {
    color: red;
  }

  .link + .bold {
    color: red;
  }

  .bold[data-key="val"] {
    color: red;
  }

  .bold::before {
    color: red;
  }

  #italic {
    color: red;
  }

  #italic:active {
    color: red;
  }

  b + #italic {
    color: red;
  }

  #italic::before {
    color: red;
  }

  /* :global {*/
    .link {
      color: red;
    }

    .bold {
      color: red;
    }

    .link:active {
      color: red;
    }

    .link + .bold {
      color: red;
    }

    .bold[data-key="val"] {
      color: red;
    }

    .bold::before {
      color: red;
    }

    #italic {
      color: red;
    }

    #italic:active {
      color: red;
    }

    b + #italic {
      color: red;
    }

    #italic::before {
      color: red;
    }
  /*}*/
