
	.background-grid.svelte-18thta0 {
		--size: 100px;
		--line: color-mix(in srgb, var(--color-surface-content) 30%, transparent);
		--line-major: color-mix(in srgb, var(--color-surface-content) 40%, transparent);

		background-image:
			/* Major vertical lines */
			repeating-linear-gradient(
				to right,
				var(--line-major) 0,
				var(--line-major) 2px,
				transparent 2px,
				transparent var(--size)
			),
			/* Minor vertical lines */
			repeating-linear-gradient(
					to right,
					var(--line) 0,
					var(--line) 0.5px,
					transparent 0.5px,
					transparent calc(var(--size) / 5)
				),
			/* Major horizontal lines */
			repeating-linear-gradient(
					to bottom,
					var(--line-major) 0,
					var(--line-major) 2px,
					transparent 2px,
					transparent var(--size)
				),
			/* Minor horizontal lines */
			repeating-linear-gradient(
					to bottom,
					var(--line) 0,
					var(--line) 0.5px,
					transparent 0.5px,
					transparent calc(var(--size) / 5)
				);
		animation: svelte-18thta0-grid-scroll 2s linear infinite;
	}

	@keyframes svelte-18thta0-grid-scroll {
		0% {
			transform: rotateX(45deg) translateY(0);
		}
		100% {
			transform: rotateX(45deg) translateY(var(--size));
		}
	}
