
	.map-labels.svelte-12osx8a {
		pointer-events: none;
	}
	.map-label.svelte-12osx8a {
		color: #333;
		/**
		 * If you render this in an ScaledSvg layout component, you'll
		 * want to make this like 1px bc it's actually being zoomed by about 10x
		 */
		font-size: 8px;
		text-anchor: middle;
	}
