
  .gradient.svelte-1gkukco {
    background: rgb(100, 187, 243);
    background: linear-gradient(90deg, rgba(100, 187, 243, 1) 0%, rgba(100, 102, 233, 1) 100%);
  }

  .myStyle.svelte-1gkukco {
    border-radius: 1em;
  }

  .slotStyle.svelte-1gkukco {
    background: #4f76be;
    color: #fff;
    font-weight: 500;
    opacity: 0.8;
    border-radius: 4px;
    width: 400px;
    height: 2em;
    align-items: center;
    padding: 10 50%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
