
	#left-eye {
		transform-origin: center;
		animation: svelte-wedoxo-wink 3.5s infinite ease-in-out;
	}

	@keyframes svelte-wedoxo-wink {
		/* eye open */
		0%,
		68%,
		100% {
			transform: translate(-50%, -50%) scaleY(1);
		}

		/* eye closed (holds for 0.5s) */
		72%,
		92% {
			transform: translate(-50%, -50%) scaleY(0.1);
		}
	}
