
  .error.svelte-14iphrm {
    --at-apply: 'mt-[20vh] max-w-[380px] mx-auto text-center flex flex-col items-center justify-center';
  }
  .code.svelte-14iphrm {
    --at-apply: 'text-30';
  }
  .title.svelte-14iphrm {
    --at-apply: 'text-6 text-warm-gray-6 dark:text-warm-gray-4 my-4 leading-10';
  }
  .home-icon.svelte-14iphrm {
    --at-apply: 'text-6 ml-2 flex items-center';
  }
